/* media query for screens smaller than 768px */
@media screen and (max-height:370px){

  /* text box sizes */
  .name {
    font-size: 2.4rem;
  }
  
  .content {
    font-size: 1rem;
    margin-top: calc(30vh); 
  }

  /* button sizes */
  nav {
    top: 70%;
  }
  nav li {
    font-size: 1em;
    margin-right: 35px;
    line-height: 70px;
  }

  nav li a {
    border: 2px solid #fff;
    height: 35px;
    width: 35px;
  }

  nav li a:hover .inner {
    height: 32px;
    margin-left: -16.5px;
    margin-top: -16.5px;
    width: 32px;
  }

  nav li a i {
    font-size: 1.1rem;
  }

  .icon-envelope {
    font-size: 14px;
  }
    
  .icon-github {
    font-size: 20px;
  }
  
}

/* screens between 768px and 1023px */
@media screen and (min-height:371px) and (max-height:540px) {

  /* text box sizes */
  .name {
    font-size: 3.4rem;
  }
  
  .content {
    font-size: 1.1rem;
  }

  /* button sizes */
  nav {
    top: 60%;
  }
  nav li {
    font-size: 1em;
    margin-right: 35px;
    line-height: 70px;
  }

  nav li a {
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
  }

  nav li a:hover .inner {
    height: 46px;
    margin-left: -23px;
    margin-top: -23px;
    width: 46px;
  }

  nav li a i {
    font-size: 1.5rem;
  }

  .icon-envelope {
    font-size: 20px;
  }
    
  .icon-github {
    font-size: 26px;
  }
  
}

/* screens between 768px and 1023px */
@media screen and (min-height:541px) and (max-height:640px) {
  /* button sizes */
  nav{
    top: 55%;
  }
}

/* screens between 768px and 1023px */
@media screen and (min-height:640px) and (max-height:730px) {
  /* button sizes */
  nav{
    top: 53%;
  }
}

/* larger than 1023px */
@media screen and (min-height:731px) {

  /* text box sizes */
  .name {
    font-size: 3.8rem;
  }
  
  .content {
    font-size: 1.2rem;
  }

  /* button sizes */
  nav li {
    font-size: 1em;
    margin-right: 35px;
    line-height: 70px;
  }

  nav li a {
    border: 2px solid #fff;
    height: 70px;
    width: 70px;
  }

  nav li a:hover .inner {
    height: 66px;
    margin-left: -33px;
    margin-top: -33px;
    width: 66px;
  }

  nav li a i {
    font-size: 2rem;
  }

  .icon-envelope {
    font-size: 30px;
  }
    
  .icon-github {
    font-size: 36px;
  }
  
}